body {
    font-family: 'Arial', sans-serif;
    background-color: #f3f4ed;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#login-container {
    background-color: #fff;
    /* padding: 100px 200px; */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
}

input {
    width: 100%;
    padding: 10px 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

#main-container {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.column {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 45%;
}

h2 {
    color: #17a2b8;
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 10px 0;
}

input[type="checkbox"] {
    margin-right: 10px;
}

/* Islamic Theme */
body {
    background-image: url('https://www.islamicfinder.org/css/images/backgrounds/back_allah_light.png');
    background-size: cover;
}

h2 {
    font-family: 'Amiri', serif;
}
